@layer base {
  body {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    margin: auto;
    padding: 20px 20px 4rem;
    max-width: 80ch;
    font-size: var(--size-step-0);
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--light);
    background: var(--dark);
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #fff;
  }

  a {
    color: currentColor;
    text-decoration-color: var(--primary);

    &:hover {
      text-decoration-color: var(--secondary);
    }
  }

  /* Baseline for default links */
  a:not([class]) {
    /* Relatively sized thickness and offset */
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    padding: 2px 5px;
    background-color: var(--tertiary);
  }

  pre {
    padding: 1rem;
  }

  pre > code {
    all: unset;
  }

  p {
    max-width: 50ch;
  }

  blockquote {
    border: 1px solid #353745;
    color: #c4c4c8;
    padding: 2px 0px 2px 20px;
    margin: 0px;
    font-style: italic;
    background: #564c55;
  }

  :focus-visible {
    --outline-size: max(2px, 0.15em);

    outline: var(--outline-width, var(--outline-size))
      var(--outline-style, solid) var(--outline-color, currentColor);
    outline-offset: var(--outline-offset, var(--outline-size));
  }

  /* Scroll padding allowance below focused elements 
 *   to ensure they are clearly in view */
  :focus {
    scroll-padding-block-end: 8vh;
  }

  /* Scroll padding allowance above anchor links */
  :target {
    scroll-padding-block-start: 2rem;
  }
}

@layer theme {
  :root {
    /* Color styles */
    --dark: #030303;
    --primary: #ff006a;
    --secondary: #00ffd4;
    --tertiary: #350df2;
    --light: #fff;
    --accent: #350df2;
    --accent--ui: #350df2;

    /* Layout default props */
    --layout-column-min: 30ch;
    --layout-gap: 3vmax;

    --size-step-0: clamp(1.125rem, 0.98rem + 0.69vw, 1.5rem);
    --space-s-l: clamp(1.125rem, 0.41rem + 3.45vw, 3rem);
    --gutter: var(--space-s-l);
  }

  html {
    /* color-scheme: light; */
    accent-color: var(--accent--ui);
  }
}

@layer components {
  .layout-grid {
    --layout-grid-min: var(--layout-column-min);
    --layout-grid-gap: var(--layout-gap);

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--layout-grid-min)), 1fr)
    );
    gap: var(--layout-grid-gap);
  }

  .flex-layout-grid {
    --flex-grid-min: var(--layout-column-min);
    --flex-grid-gap: var(--layout-gap);

    gap: var(--flex-grid-gap);
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 1 1 var(--flex-grid-min);
    }
  }

  :is(.layout-grid, .flex-layout-grid) > * {
    container: var(--grid-item-container, grid-item) / inline-size;
  }

  .siteHeader {
    margin: 0em 0 4em;

    .siteHeader__title {
      margin: 0;
    }
  }

  .about {
    margin-bottom: 4rem;
  }

  .wrapper {
    margin-inline: auto;
    max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: relative;
  }

  .prose :is(h1, h2, h3, h4, h5, p, ul, ol, blockquote) {
    max-width: 60ch;
  }

  .posts {
    --layout-gap: 2vmax;
    --layout-column-min: 100%;

    .post__date {
      display: block;
    }

    .post__postLink {
      font-size: 2rem;
    }
  }
}
