---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Spencer Carney"
  pubDate={new Date("August 15 2023")}
  updatedDate={new Date("August 15 2023")}
  heroImage="/placeholder-about.jpg"
>
  <p>
    My name is Spencer Carney. You can also find me online as "Spencer Carnage",
    a ridiculous nickname I gave myself when I was 19, and skateboarding,
    comics, and loud music were staples in my life.
  </p>

  <p>
    I am a software engineer who also has the pleasure of managing other
    software engineers. I was once described (second hand) that I "good at
    asking uncomfortable questions." I strive for connection, and having an
    impact. Failure to have either is challenging. Success, even more
    challenging.
  </p>

  <p>
    I am contrarian by nature. I don't know why that is. In a leadership
    position, this can rear its head at inopportune times where I am advocating
    for the needs of the business (or the team I represent) when I should be
    listening. I am going to working on this until the day I die.
  </p>

  <p>
    I live in Los Angeles with my wife and two young children. Being a parent
    with a young family in tech is challenging. Being a parent with a young
    family in this modern world is challenging. For better or worse, happy
    hours, board game nights, and Zoom lunches do not hold the same interest for
    me. A coworker once remarked that something along the lines of: "the only
    thing I know about you is that you're a parent." Most times it feels like
    that is the only thing about me worth knowing. But that's not true.
  </p>

  <p>
    I love doing JavaScript development. I am falling back in love with doing
    CSS development, even if I don't get to do much of it. (Tailwind does not
    really qualify as "CSS development" in my humble opinion.) I use Vim but I
    don't really know how to <em>use</em> it. (I do pretty alright with it.)
  </p>

  <p>
    I was a Marvel Comics nerd in a former life (that died not too long ago).
    Lots of opinions about the X-men up until a certain point. I used to play in
    loud punk rock bands. I would love to play in a loud punk band again. I am a
    music snob with awful taste in music. Can only code to Synthwave these days
    for some strange reason...
  </p>

  <p>
    I garden. I own a few books on Permaculture that I promise myself I am going
    to read and integrate into my gardening practice. I sometimes get up at 5 AM
    and sit for 30-45 minutes in meditation. I love reading but I struggle to
    finish a book; always distracted by what else I
    <em>should</em> be reading.
  </p>

  <p>
    I want this blog to be a place where I can exercise my ability to share
    knowledge with others. I feel (and probably sound) silly. Why can't I just
    be amazing right out the gates? Psssh. Stupid blog. Not even a substack.
    What's wrong with you?
  </p>
</Layout>
