---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const devStartYear = 2009;
const mgmtStartYear = 2017;
const now = new Date();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi!</h1>
      <p>
        My name is Spencer Carney. I live in Los Angeles with my wife and two
        children. I am the manager of the UI engineering team at <a
          href="https://www.instil.io/"
          target="_blank"
          rel="noopener noreferrer">Instil</a
        >
        I have been doing front-end development for {
          now.getFullYear() - devStartYear
        }
        years, and managing engineers for {now.getFullYear() - mgmtStartYear} years.
      </p>
      <p>
        I am a firm believer that the web is for everyone, regardless of their
        device or connection speed.
      </p>
    </main>

    <Footer />
  </body>
</html>
