---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="wrapper siteHeader">
  <h1 class="siteHeader__title">
    {SITE_TITLE}
  </h1>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink
      href="https://twitter.com/spencercarnage"
      target="_blank"
      rel="noopener noreferrer"
    >
      Twitter
    </HeaderLink>
    <HeaderLink
      href="https://github.com/spencercarnage"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </HeaderLink>
  </nav>
</header>
